.scrollTaille {
    min-width: 500px;
    margin-top:5% !important;
  }
  .scroll {
    overflow-x: scroll;
    @media (min-width: 750px) {
      overflow-x: visible;
    }
  }
  
  .test {
  text-align: center;
  @media (min-width: 992px) {
    text-align: center;
  }
  }
  