.scrollTaille {
  min-width: 500px;
}
.scroll {
  overflow-x: scroll;
  @media (min-width: 750px) {
    overflow-x: visible;
  }
}

.rowmenu {
  text-align: center;
  @media (min-width: 992px) {
    text-align: center;
  }
}

.colHist{
  cursor: pointer !important;
  width: 100% !important;
  float: right !important;
  font-size: 10px !important;
  @media (min-width: 500px) {
    text-align: center;

    font-size: 12px !important;
    width: 40% !important;
  }
}

.dropdown{
  width: 100% !important;
  float: none !important; 

  margin-right: 0% !important;
  @media (min-width: 770px) {
    float: right !important; 
    margin-right: 2% !important;
    width: 80% !important;
    
  }
}


.colGraph{
  cursor: pointer !important;
  width: 100% !important;
  float: left !important;
  font-size: 10px !important;

  @media (min-width: 500px) {
    font-size: 12px !important;
    text-align: center;
    width: 40% !important;
  }
}

.className{
  color: white !important; 
}
